.Image {
  margin: 0;
  height: 250px;
  color: #fff;
  width: 250px;
  line-height: 250px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 70%;
}
.DeviceImage {
  margin: 0;
  height: 400px;
  color: #fff;
  width: 400px;
  line-height: 320px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 70%;
}
.Name {
  text-align: center;
  color: #fff;
}
.Carousel {
  height: 100%;
  /* background: #364d79; */
}
.BtnLeft {
  position: absolute;
  top: 50%;
  left: 15px;
  color: white;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
}
.BtnRight {
  position: absolute;
  top: 50%;
  right: 15px;
  color: white;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
}
