.Item {
  color: aliceblue;
  font-size: 18px;
  cursor: pointer;
  margin-left: 70px;
}

.Login {
  margin-left: auto;
  font-size: 18px;
  color: aliceblue;
}
.Login :hover {
  color: rgb(156, 213, 213);
}
