.Item {
  color: aliceblue;
  font-size: 18px;
  cursor: pointer;
  margin-left: 70px;
}
.Login {
  font-size: 18px;
  background-color: #001529;
  color: aliceblue;
}
.Login :hover {
  color: rgb(156, 213, 213);
}
.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
