.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  gap: 850px;

  position: absolute;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 1px;

  background: #001529;

  box-shadow: inset 0px -1px 0px #f0f0f0;
}
