.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  gap: 850px;

  height: 48px;
  left: 0px;
  right: 0px;
  top: 1px;

  background: #001529;
}
.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.LabImage {
  height: 320px;
}
.DeviceImage {
  width: 400px;
}
